<% content_for(:title, 'Producers')%>
<div class="container-fluid">  

  <div class="jumbotron">

    <h1>Producers</h1>

    <div class="row">
      <div class="col-md-4">

       <%= form_tag search_producers_path, method: :get, role: "search" do %>
            <p>
             <%= text_field_tag :search, params[:search], placeholder: "Search" %>
             <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
             </p> 
        <% end %>
      </div>
      <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      USA <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">California</a></li>
      <li><a href="#">Oregon</a></li>
      <li><a href="#">Washington</a></li>
      <li><a href="#">Other States</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">USA</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      France <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Bordeaux</a></li>
      <li><a href="#">Burgundy</a></li>
      <li><a href="#">Champagne</a></li>
      <li><a href="#">Languedoc</a></li>
      <li><a href="#">Loire</a></li>
      <li><a href="#">Rhone</a></li>
      <li><a href="#">Other Regions</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">All France</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Italy <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Tuscany</a></li>
      <li><a href="#">Other Regions</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">All Italy</a></li>
    </ul>
  </div>
  
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Other Countries <span class="caret"></span>
    </button>
      <ul class="dropdown-menu">
        <li><a href="#">Australia</a></li>
        <li><a href="#">Austria</a></li>
        <li><a href="#">Canada</a></li>
        <li><a href="#">Chile</a></li>
        <li><a href="#">Germany</a></li>
        <li><a href="#">New Zealand</a></li>
        <li><a href="#">Slovenia</a></li>
        <li><a href="#">Spain</a></li>
        <li><a href="#">South Africa</a></li>
        <li><a href="#">Switzerland</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">All Other Countries</a></li>
      </ul>
  </div>
    </div>
  </div>
</div>


   <div class="container">  
  <%= link_to 'New Producer', new_producer_path %>


  <div class="row">
  <% @producers.each do |producer| %>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <div class="icon">
        <div class="thumbnail">
          <%= link_to image_tag(producer.thumbnail.url(:small), class: "img-responsive aspect"), producer %>
          <div class="caption">
            <h5 class="text-center"><%= link_to producer.name, producer %></h5>
            </div>
        </div> 
      </div>
    </div>
  <% end %>
  </div>

  


<div class="text-center">
  <ul class="pagination">
    <%= will_paginate @producers, renderer: BootstrapPagination::Rails %>
  </ul>
</div>

  <br>
  <% if user_signed_in? %>
    <h2>Import Producers</h2>
  
    <%= form_tag import_producers_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import CSV" %>
    <% end %>
  
    <%= link_to 'New Producer', new_producer_path %>
  <% end %>
</div>
