<div class="container">  
   
  <%= link_to 'New Producer', new_winery_path %>

   <br>
   <br>
  
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      USA <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">California</a></li>
      <li><a href="#">Oregon</a></li>
      <li><a href="#">Washington</a></li>
      <li><a href="#">Other States</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">All USA</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      France <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Bordeaux</a></li>
      <li><a href="#">Burgundy</a></li>
      <li><a href="#">Champagne</a></li>
      <li><a href="#">Languedoc</a></li>
      <li><a href="#">Loire</a></li>
      <li><a href="#">Rhone</a></li>
      <li><a href="#">Other Regions</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">All France</a></li>
    </ul>
  </div>
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Italy <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Tuscany</a></li>
      <li><a href="#">Other Regions</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">All Italy</a></li>
    </ul>
  </div>
  
  <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Other Countries <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Australia</a></li>
    <li><a href="#">Austria</a></li>
    <li><a href="#">Canada</a></li>
    <li><a href="#">Chile</a></li>
    <li><a href="#">Germany</a></li>
    <li><a href="#">New Zealand</a></li>
    <li><a href="#">Slovenia</a></li>
    <li><a href="#">Spain</a></li>
    <li><a href="#">South Africa</a></li>
    <li><a href="#">Switzerland</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">All Other Countries</a></li>
  </ul>
</div>
<br>

 <h1>Producers</h1>

  <hr>
<div class="row">
  <%= @wineries.each do |winery| %>
    <div class="col-md-2 col-xs-6">
      <div class="icon">
        <div class="thumbnail">
          <%= link_to (image_tag winery.thumbnail.url(:small)), winery %>
        </div>
        <div class="caption">
          <h5><%= link_to winery.name, winery %><h5>
        </div> 
      
      </div>
    </div>  
  <% end %>
</div>

<%= will_paginate @wineries, previous_label: "Blah" %>

  <br>
  <% if user_signed_in? %>
    <h2>Import Wineries</h2>
  
    <%= form_tag import_wineries_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import CSV" %>
    <% end %>
  
    <%= link_to 'New Winery', new_winery_path %>
  <% end %>
</div>
